<div class="row">
  <div class="col-md-12 full-width">
    <div class="card mt-1">
      <h5 class="card-header">Q Table</h5>
      <div class="card-body">
        <button type="button" class="btn btn-primary" (click)="openModal(template)">QTable details</button>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th *ngFor="let col of qTable[0]; let i= index">{{i}}</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th *ngFor="let legend of obstaclesList; let legendIndex = index">
                <div class="obstacle-map">
                  <div class="d-flex" *ngFor="let row of legend;let j = index">
                    <div *ngFor="let value of row; let k =index" class="d-inline-block px-1 border"
                      [ngClass]="{'empty': value === 0, 'obstacle': value === 1, 'head': value === 2}">
                      {{value}}
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of qTable; let rowIndex = index">
              <th>{{rowIndex}}</th>
              <th [innerHTML]="directons[rowIndex]"></th>
              <th>
                <div><i class="fa-solid fa-arrow-up"></i></div>
                <div><i class="fa-solid fa-arrow-right"></i></div>
                <div><i class="fa-solid fa-arrow-down"></i></div>
                <div><i class="fa-solid fa-arrow-left"></i></div>
              </th>
              <td *ngFor="let item of row">
                <div>{{item[0] | number: '1.0-0'}}</div>
                <div>{{item[1] | number: '1.0-0'}}</div>
                <div>{{item[2] | number: '1.0-0'}}</div>
                <div>{{item[3] | number: '1.0-0'}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">QTable</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-2">
      <textarea class="form-control" [(ngModel)]="qTableInput"></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="updateQTable()">Update qTable</button>
  </div>
</ng-template>

