<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Training</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1"><button type="button" class="btn btn-primary" (click)="train()">Train</button></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Current length: {{currentLength}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Max length: {{maxSnakeLength}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Episode: {{episode}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Action: {{actionCount}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Snake length</th>
                  <th scope="col">Episodes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stat of snakeLengthStats">
                  <td>{{stat.length}}</td>
                  <td>{{stat.count}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

