<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="grid-row">
          <div class="cell"></div>
          <div class="cell" *ngFor="let col of board; let r= index">
            {{r}}
          </div>
        </div>
        <ng-container *ngFor="let row of board; let r = index">
          <div class="grid-row">
            <div class="cell">{{r}}</div>
            <ng-container *ngFor="let item of row; let c = index">
              <div class="cell grid-cell" [ngClass]="getClass(r,c)">
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
